# .dockerignore (root)

node_modules
.next
out
build
dist
*.log
logs/
.git
.gitignore
README.md
*.md
.vscode
.idea
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage/
*.sqlite
*.db
*.sql
server/logs/
server/node_modules